name: Rust

on:
  push:
    branches: [ master ]
    paths-ignore: [ '.github/**' ]

jobs:
  build-and-deploy-docs:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: rustup component add rustfmt
    - name: Build
      run: cargo doc --lib
    - name: Add index.html
      run: echo '<!DOCTYPE html><html><head><meta http-equiv=refresh content="0; URL=firestore_grpc/index.html"><title>x</title></head><body>x</body></html>' > target/doc/index.html
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BRANCH: gh-pages
        FOLDER: target/doc
